*{
    margin:0;
    padding:0;
}

#minus {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 40px;
    padding: 10px;
    margin: 6px;
}
#plus {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 40px;
    padding: 10px;
    margin: 6px;
}
#times {
    position: absolute;
    top: 30%;
    left: 55%;
    width: 40px;
    padding: 10px;
    margin: 6px;
}
#divide {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 40px;
    padding: 10px;
    margin: 6px;
}
#proc {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 40px;
    padding: 10px;
    margin: 6px;
}
#equals{
    position: absolute;
    top: 30%;
    left: 65%;
    width: 40px;
    padding: 10px;
    margin: 6px;
}
#num2 {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 360px;
    text-align: right;
    padding: 10px;
    margin: 3px;
}
#num1 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 360px;
    text-align: right;
    padding: 10px;
    margin: 3px;
}
.output{

    position: absolute;
    top: 40%;
    left: 40%;
}